<div ng-controller="ProductListController">
	<h1>
		Products <i class="fa fa-star"></i>
	</h1>
	<table class="table">
		<thead>
			<tr>
				<th>name</th>
				<th>brand</th>
				<th>priceNew</th>
				<th>priceOld</th>
				<th>url</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products._embedded.products">
				<td ng-bind="product.name"></td>
				<td ng-bind="product.brand"></td>
				<td ng-bind="product.priceNew"></td>
				<td ng-bind="product.priceOld"></td>
				<td ng-bind="product.url"></td>
				<td><a class="btn" ng-click="controller(product._links.self.href)">Detail</a></td>
			</tr>
		</tbody>
	</table>
</div>