<div ng-controller="ProductDetailController">
	<h1>
		Product <i class="fa fa-star"></i>
	</h1>
	<table class="table">
		<thead>

		</thead>
		<tbody>
			<tr>
				<th>name</th>
				<td ng-bind="product.name"></td>
			</tr>
			<tr>
				<th>brand</th>
				<td ng-bind="product.brand"></td>
			</tr>
			<tr>
				<th>priceNew</th>
				<td ng-bind="product.priceNew"></td>
			</tr>
			<tr>
				<th>priceOld</th>
				<td ng-bind="product.priceOld"></td>
			</tr>
			<tr>
				<th>url</th>
				<td ng-bind="product.url"></td>
			</tr>
			</tr>
		</tbody>
	</table>
</div>